<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="margin-top: 30px;">
    <section class="parallax-feature">
        <div class="starfield"></div>
        <div class="feature-input">
          <div id="subscribe">
            <input type="text" class="enteremail error" name="EMAIL" id="subscribe-email"
              placeholder="Enter your email address" spellcheck="false">
            <div style="    display: inline;" type="submit" id="signup-button">
                <li class="share bottom ">
                    <i class="fa fa-paper-plane-o pulse" aria-hidden="true"></i>
            </li>
            </div>
            
            <label for="subscribe-email" class="subscribe-message error">
              <i class="fa fa-warning"></i>
              <span class="message-content"></span>
            </label>
          </div>
        </div>
      </section>

   

</body>
</html>
