
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="page-wrapper menu2" style="background-color: white !important">
    <!-- <div class="firstBar">
      <span class="tel">Tel: +33 6 00 00 00 00</span>
      <span class="mail">Email: tonadressemail@pro.com</span>
    </div> -->
    <div  class="page-contentHeader ">

  <span class="menu">

      <ul class="menu1 topLeft btnSidebar" id="show-sidebar" (click)="toggleSidebar()">
        <li class="share bottom">
          <i style="color: black" class="fa fa-bars fa-3x "></i>
        </li>
      </ul>

      <img routerLink="/" routerLinkActive="active" class="imgHeader2 "
      src="../../assets/img9.jpeg" />

    <div style="height: 70px"  class="menuButtons">
     


    <p-menubar #menu [model]="items" styleClass="menucus">
      <ng-template pTemplate="start">
        <img routerLink="/" routerLinkActive="active" class="imgHeader "
        src="../../assets/img9.jpeg" />
      </ng-template>
    </p-menubar>


     <!--  <div class="svg-wrapper">
        <svg [attr.height]="40" [attr.width]="150">
          <rect id="shape" height="40" width="150" />
        </svg>
        <div id="text">
          <a [routerLink]="['/']" routerLinkActive="active">
            <div class="spot"></div>Accueil
          </a>
        </div>
      </div> -->

      <!-- <div class="svg-wrapper">
        <svg [attr.height]="40" [attr.width]="150">
          <rect id="shape" height="40" width="150" />
        </svg>
        <div id="text">
          <a [routerLink]="['/immobilier']" routerLinkActive="active">
            <div class="spot"></div>Immobilier 3D
          </a>
        </div>
      </div> -->

      <!-- <div class="svg-wrapper">
        <svg [attr.height]="40" [attr.width]="150">
          <rect id="shape" height="40" width="150" />
        </svg>
        <div id="text">
          <a [routerLink]="['/conciergerie']" routerLinkActive="active">
            <div class="spot"></div>Conciergerie
          </a>
        </div>
      </div> -->

      

      <!-- <div class="svg-wrapper">
        <svg [attr.height]="40" [attr.width]="150">
          <rect id="shape" height="40" width="150" />
        </svg>
        <div id="text">
          <a [routerLink]="['/contact']" routerLinkActive="active">
            <div class="spot"></div>Contact
          </a>
        </div>
      </div> -->

     <!--  <div class="svg-wrapper">
        <svg [attr.height]="40" [attr.width]="150">
          <rect id="shape" height="40" width="150" />
        </svg>
        <div id="text">
          <span *ngIf="auth.isAuthenticated()">
            <a style="cursor: pointer; color: red;" (click)='logout()'>
              <div class="spot"></div>Logout
            </a>
            </span >
           <span *ngIf="!auth.isAuthenticated()">
            <a [routerLink]="['/auth/login']" routerLinkActive="active">
              <div class="spot"></div>Mon espace
            </a>
           </span>
          
        </div>
      </div> -->
    </div>
  </span>
</div>
</div>
<p-dialog header="Prendre un RDV immédiatement" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000" [maximizable]="true">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
      qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
      quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
      vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
      similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
      cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
      eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayBasic2=false" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
</body>

</html>
