<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="marginCustom">

  <!-- <div class="p-grid p-flex-column marginCustomDelete">
    <div class="p-col">
      <div class="container">
        <img style="width: 300px;height: 300px;" routerLink="/" routerLinkActive="active" class="imgHeader "
          src="../../assets/img6.jpg" />
      </div>
      <div class="textPrez">
        M’hi City est le résultat d’une aventure familiale qui repose sur un ensemble de valeurs fondatrices,
        représentant notre identité.
        Spécialisés dans l’immobilier et la conciergerie, nous sommes disponibles et à votre écoute pour vous fournir
        des prestations de qualité.
        Découvrez nos activités à travers les différentes rubriques.
      </div>
      <div style="text-align: center; margin-bottom: 50px;">
        <p-button label="Contactez-nous" icon="fa fa-envelope" iconPos="right" styleClass="p-button-lg"></p-button>
      </div>
    </div>
  </div> -->

  <div class="p-grid p-ai-stretch vertical-container marginCustomDelete">
    <div class="p-col">
      <div class="box box-stretched">
       
        <div class="container2">
          <h1 class="stylingTitre">Confiance</h1>
          <img style=" height: 200px;" routerLink="/" routerLinkActive="active" class="imgHeader "
            src="https://solutionsandco.com/images/easyblog_images/974/shutterstock_131281658_20160412-141058_1.jpg" />
        </div>
        <div class="textPrez2">
          Il est primordial pour nous, étant une entreprise familiale, d’être transparent dans nos relations partenaires et clientes.
          Nous portons une attention particulière à vos besoins et sommes à l’écoute de vos demandes. 
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="box box-stretched">
        <div class="container2">
          <h1 class="stylingTitre">Qualité</h1>
          <img style=" width: 100%; height: 200px;" routerLink="/" routerLinkActive="active" class="imgHeader "
            src="../../assets/img3.png" />
        </div>
        <div class="textPrez2">
          M’hi city s’engage à vous fournir des prestations de haute qualité et un service d’excellence basé sur le respect et vos attentes.
          Notre objectif est de vous proposer des solutions pertinentes, innovantes et adaptées à vos objectifs et qui vous apporterons une grande satisfaction.          
        </div>
      </div>
    </div>
    <div class="p-col">
      <div class="box box-stretched">
        <div class="container2">
          <h1 class="stylingTitre">Réactivité</h1>
          <img style="height: 200px;" routerLink="/" routerLinkActive="active" class="imgHeader "
          src="../../assets/img5.png"/>
        </div>
        <div class="textPrez2">
          Notre expérience acquise sur le terrain en contact direct avec le client et les différents intervenants, nous permet d’anticiper vos besoins, et vous offrir des solutions adaptées à vos contraintes dans les plus courts délais. 
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="testimonial-section">
    <div class="inner-width">
      <div id="nav-tab" class="testimonial-pics">
          <span style="display: inline-table;">
            <img class="imgcustom" src="https://www.myrhline.com/wp-content/uploads/2020/12/Fotolia_145195841_S.jpg" id="0" alt="img-1" class="active">
            <div style=" text-decoration: underline;">Prensation</div>
          </span>
          <span style="display: inline-table;">
            <img class="imgcustom" src="https://o2-franchise.fr/files/2016/07/valeur-excellence.jpg" id="1" alt="img-2">
            <div style=" text-decoration: underline;">Valeur</div>
          </span>
          <span style="display: inline-table;">
            <img  class="imgcustom" src="https://o2-franchise.fr/files/2016/07/valeur-respect.jpg" id="2" alt="img-3">
            <div style=" text-decoration: underline;">Valeur</div>
          </span>
          <span style="display: inline-table;">
            <img  class="imgcustom" src="https://o2-franchise.fr/files/2016/07/valeur-attitude-positive.jpg" id="3" alt="img-4">
            <div style=" text-decoration: underline;">Valeur</div>
          </span>
       </div>

       <div class="testimonial-contents">
         <div class="testimonial active">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
           <span class="description">Presentation</span>
         </div>

         <div class="testimonial">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elimet, consectetur adipisicing eli t. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
           <span class="description">Valeur</span>
         </div>

         <div class="testimonial">
           <p>Lorem  similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
           <span class="description">Valeur</span>
         </div>

         <div class="testimonial">
           <p>Lorem ipsum dolorng elit. Ab consequatur et adipisci ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid. Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
           <span class="description">Valeur</span>
         </div>
       </div>
     </div>
   </div> -->
</body>

</html>
