<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <div class="page-content" >

      <div *ngFor="let user of users; let i = index" class="card-column column-0">
        <div id="card{{i}}"  class="card" [style] = color>
          <div class="border"></div>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-00.jpg" />
          <h1>{{user.name}}</h1>

          <div *ngIf="user.isPublic; else elseBlock">
            <span class="user-status-public">
              <i class="fa fa-circle"></i>
              <span>Connect</span>
            </span>
          </div>
          <ng-template #elseBlock>
            <span class="user-status-prive">
              <i class="fa fa-circle"></i>
              <span>Disconnect</span>
            </span>
          </ng-template>
        </div>
      </div>


        <div id="cover" class="cover"></div>
        <div id="open-content" class="open-content">
          <a id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
          <img id="open-content-image" src="" />
          <div class="text" id="open-content-text">
           <h1> {{userClicked.name}}</h1>
           <div *ngIf="userClicked.isPublic; else elseBlock">
            <span class="user-status-public">
              <i class="fa fa-circle"></i>
              <span>Connect</span>
            </span>
          </div>
          <ng-template #elseBlock>
            <span class="user-status-prive">
              <i class="fa fa-circle"></i>
              <span>Disconnect</span>
            </span>
          </ng-template>
            <div>{{userClicked.description}}</div>
            collegues :
            <div *ngFor="let collegue of userClicked.collegues;">
                 {{collegue}}
            </div>
            <div *ngFor="let carriere of userClicked.carriere;">
              compagnie : {{carriere.compagnie}} date : {{carriere.date}}
         </div>
          </div>
        </div>
     </div>
  </div> 
</body>

</html>
